<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= index_path %>" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-l">Reset your AWS password</h1>
    <%= error_summary_for(@form&.errors, :reset_form) %>
    <p>If you no longer know your <code>gds-users</code> IAM user password, you can use this button to request that it be reset.</p>
    <p>Resets are not instantaneous; they must be reviewed first to prevent abuse.</p>
    <p>You can only request a password reset for yourself.</p>

    <%= form_for @form, url: reset_password_path, html: { novalidate: true } do |f| %>
      <div>
        <%= error_message_on(f.object.errors, :commit) %>
        <%= f.submit 'Reset my password', class: 'govuk-button govuk-button--warning', data: { module: "govuk-button" } %>
      </div>
    <% end %>
  </div>
</div>

