<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= administrators_path %>" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Check your answers</h1>
    <%= error_summary_for(@form&.errors, :account_form) %>

    <table class="govuk-table">  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-visually-hidden" scope="col">account name</th>
          <th class="govuk-table__header govuk-visually-hidden" scope="col">description</th>
          <th class="govuk-table__header govuk-visually-hidden" scope="col">programme</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Account name</td>
          <td class="govuk-table__cell"><%= error_message_on(@form&.errors, :account_name) %> <%= @answers[:account_name] %></td>
          <td class="govuk-table__cell"><%= link_to 'Change', account_details_path, class: 'govuk-link' %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Description</td>
          <td class="govuk-table__cell"><%= @answers[:account_description] %></td>
          <td class="govuk-table__cell"><%= link_to 'Change', account_details_path, class: 'govuk-link' %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Programme</td>
          <td class="govuk-table__cell"><%= @answers[:programme_or_other] %></td>
          <td class="govuk-table__cell"><%= link_to 'Change', programme_path, class: 'govuk-link' %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Admin users</td>
          <td class="govuk-table__cell"><%= @answers[:admin_users] %></td>
          <td class="govuk-table__cell"><%= link_to 'Change', administrators_path, class: 'govuk-link' %></td>
        </tr>
      </tbody>
    </table>

    <% if [@answers[:account_name], @answers[:account_description], @answers[:programme_or_other], @answers[:admin_users]].all? &:present? %>
      <h2 class="govuk-heading-m">Request your AWS account</h2>
      <p>Please make sure the details above are correct before you submit your application.</p>
      <%= form_for @form, url: check_your_answers_path, html: { novalidate: true } do |f| %>
        <div>
          <%= error_message_on(f.object.errors, :commit) %>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <%= f.submit 'Accept and send application', class: 'govuk-button govuk-button--warning', data: { module: "govuk-button" } %>
        </div>
      <% end %>
    <% else %>
      <h2 class="govuk-heading-m">Details required</h2>
      <p>
        Please fill in the sections above to continue, or
        <a href="<%= account_details_path %>">go back to the start</a>.
      </p>
    <% end %>
  </div>
</div>
