<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Request an AWS account</h1>
    <%= form_for @form, url: '/' do |f| %>
        <fieldset class="form-group">
          <%= f.label :account_name, t('account_name_label'), class: 'form-label' %>
          <%= f.text_field :account_name, required: true, class: 'form-control' %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :programme, t('programme_label'), class: 'form-label' %>
          <%= f.text_field :programme, required: true, class: 'form-control' %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :admin_users, t('admin_users_label'), class: 'form-label' %>
          <%= f.text_field :admin_users, required: true, class: 'form-control' %>
        </fieldset>
        <fieldset class="form-group inline">
          <legend><%= t('is_production_label') %></legend>

          <div class="multiple-choice">
            <%= f.radio_button :is_production, '1', id: 'is_production_yes', required: true %>
            <%= f.label :is_production,  t('is_production_yes_label'), for: 'is_production_yes' %>
          </div>
          <div class="multiple-choice">
            <%= f.radio_button :is_production, '0', id: 'is_production_no', required: true %>
            <%= f.label :is_production, t('is_production_no_label'), for: 'is_production_no'  %>
          </div>
        </fieldset>
        <div>
          <%= f.submit t('submit_button_text'), class: 'button' %>
        </div>
    <% end %>
  </div>
</div>

