<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage AWS accounts and users</h1>
    <% if @email %>
      <p>You are logged in as <em><%= @email %></em>.</p>

      <p>You can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <% if EmailValidator.email_is_allowed_advanced?(@email) %>
        <li>
          <a class="govuk-link" href="#manage-users">
            Manage user access to Amazon Web Services (AWS)
          </a>
        </li>
        <% else %>
        <li>
          <a class="govuk-link" href="#manage-users">
            Reset your AWS user password
          </a>
        </li>
        <% end %>
      </ul>

      <h2 class="govuk-heading-m" id="manage-users">Manage user access to Amazon Web Services (AWS)</h2>

      <% if EmailValidator.email_is_allowed_advanced?(@email) %>
      <h3 class="govuk-heading-s">Request a new AWS user</h3>
      <p>GDS manages a number of AWS accounts. Users for these accounts are managed centrally by Engineering Enablement with a base GDS account: <em>gds-users</em>.</p>
      <p>For a user to access resources in AWS they should be added to the <em>gds-users</em> base account and permitted to assume a role in the target account.</p>
      <p> See <a href="https://gds-way.digital.cabinet-office.gov.uk/manuals/working-with-aws-accounts.html#access-aws-accounts">accessing AWS accounts</a> in the GDS Way.</p>
      <p>Anyone within GDS or the Cabinet Office can request user access to AWS for one or more people.</p>
      <div class="govuk-inset-text">
        Processing time for this request is around 2 days
      </div>
      <a href="<%= user_path %>" class="govuk-button" data-module="govuk-button">
        Request new user
      </a>

      <h3 class="govuk-heading-s">Remove an AWS user</h3>
      <p>
        You should ensure that users are removed from <em>gds-users</em> as part of your team's leavers process.
        Users should only be removed when they leave GDS or no longer need access to any AWS resources.
      </p>
      <p>
        <div class="govuk-inset-text">
          Processing time for this request is around 2 days
        </div>
        <a href="<%= remove_user_path %>" class="govuk-button govuk-button--warning" data-module="govuk-button">Request user removal</a>
      </p>
      <% end %>

      <h3 class="govuk-heading-s">Reset your AWS user password</h3>
      <p>If you need to reset your AWS password, you can do that here as well.</p>
      <p>
        <div class="govuk-inset-text">
          Processing time for this request is around 2 days
        </div>
        <a href="<%= reset_password_path %>" class="govuk-button" data-module="govuk-button">Request password reset</a>
      </p>
      
      <% if EmailValidator.email_is_allowed_advanced?(@email) %>

      <h3 class="govuk-heading-s">Request a new AWS account (Infrastructure-as-a-Service)</h3>
      <p>If your application or service cannot run on GOV.UK PaaS, you can request a new AWS account.</p>
      <p>You can provision infrastructure directly from Amazon Web Services, you may need specialist capabilities to maintain this infrastructure.</p>
      <p>You may need multiple accounts, one for each environment, for example development, staging, and production.</p>
      <p>When requesting non-GDS AWS accounts, you should provide the relevant Cabinet Office cost centre.</p>
      <p>
        More information is available on the
        <a href="https://gds-way.digital.cabinet-office.gov.uk/manuals/working-with-aws-accounts.html#create-aws-accounts">how to create AWS accounts</a> page
        in the GDS Way.
      </p>
      <div class="govuk-inset-text">
        Processing time for this request is around 2 weeks
      </div>
      <a href="<%= account_details_path %>" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Request an account
      </a>
      <% end %>
    <% else %>
      <p>Depending on your email domain, you can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Reset your AWS user password (for all users)</li>
        <li>Request a new AWS user (e.g. for new joiners - Cabinet Office staff only)</li>
        <li>Remove an AWS user (e.g. for leavers - Cabinet Office staff only)</li>
        <li>Request a new AWS account (e.g. for a new service or environment - Cabinet Office staff only)</li>
      </ul>
      <p>First you need to sign in with your GDS or CO Google account so we know who you are.</p>
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Sign in
        </button>
      <% end %>
    <% end %>
  </div>
</div>

