<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= account_details_path %>" class="govuk-back-link">Back</a>

    <% if @form.errors&.any? %>
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% @form.errors[:organisation_or_other_specified].each do |err| %>
              <span class="govuk-error-message"><%= err %></span>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_for @form, url: organisation_path, html: { novalidate: true } do |f| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Organisation owning the account
          </h1>
        </legend>
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
          <span id="value-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= @form.errors[:organisation_or_other_specified].first %>
          </span>
          <div class="govuk-radios">
            <% organisation_options.each do |organisation| %>
              <div class="govuk-radios__item">
                <%= f.radio_button(
                  :organisation,
                  organisation,
                  checked: @form.organisation == organisation,
                  id: "organisation_#{organisation.parameterize}",
                  class: 'govuk-radios__input'
                ) %>
                <%= f.label(
                  :organisation,
                  organisation,
                  for: "organisation_#{organisation.parameterize}",
                  class: 'govuk-label govuk-radios__label'
                ) %>
              </div>
            <% end %>
            <div class="govuk-radios__item">
              <%= f.radio_button :organisation, 'Other', checked: @form.organisation == 'Other', id: 'organisation_other', class: 'govuk-radios__input' %>
              <%= f.label :organisation, 'Other', for: 'organisation_other', class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
        <%= f.label :organisation_other, 'Other (please specify)', class: 'govuk-label' %>
        <%= f.text_field :organisation_other, value: @form.organisation_other, required: false, class: "govuk-input govuk-input--width-20 #{@form.errors&.any? ? 'govuk-input--error' : ''}" %>
      </div>
      <%= f.submit 'Next', class: 'govuk-button', data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
