<div class="grid-row">
  <div class="column-two-thirds">
    <a href="<%= programme_path %>" class="link-back">Back</a>
    <h1 class="heading-large">Request an AWS account</h1>
    <%= form_for @form, url: administrators_path, html: { novalidate: true } do |f| %>
        <fieldset class="form-group <%= 'form-group-error' if @form.errors.include?(:admin_users) %>">
          <%= f.label :admin_users, t('admin_users_label'), class: 'form-label' %>
          <%= f.text_area :admin_users, value: @form.admin_users, required: true, rows: 6, class: 'form-control' %>
          <% @form.errors[:admin_users].each do |err| %>
              <span class="error-message"><%= "#{t('admin_users_label')} #{err}" %></span>
          <% end %>
        </fieldset>
        <div>
          <%= f.submit t('submit_button_text'), class: 'button' %>
        </div>
    <% end %>
  </div>
</div>

