<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= account_details_path %>" class="govuk-back-link">Back</a>

    <% if @form.errors&.any? %>
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% @form.errors[:programme_or_other_specified].each do |err| %>
              <span class="govuk-error-message"><%= err %></span>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_for @form, url: programme_path, html: { novalidate: true } do |f| %>
      <% if programme_options.present? %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Programme owning the account
            </h1>
          </legend>

          <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
            <span id="value-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= @form.errors[:programme_or_other_specified].first %>
            </span>
            <div class="govuk-radios">
              <% programme_options.each do |programme| %>
                <div class="govuk-radios__item">
                  <%= f.radio_button(
                    :programme,
                    programme,
                    checked: @form.programme == programme,
                    id: "programme_#{programme.parameterize}",
                    class: 'govuk-radios__input'
                  ) %>
                  <%= f.label(
                    :programme,
                    programme,
                    for: "programme_#{programme.parameterize}",
                    class: 'govuk-label govuk-radios__label'
                  ) %>
                </div>
              <% end %>
              <div class="govuk-radios__item">
                <%= f.radio_button :programme, 'Other', checked: @form.programme == 'Other', id: 'programme_other', class: 'govuk-radios__input' %>
                <%= f.label :programme, 'Other', for: 'programme_other', class: 'govuk-label govuk-radios__label' %>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
          <%= f.label :programme_other, 'Other (please specify)', class: 'govuk-label' %>
          <%= error_message_on(f.object.errors, :programme_other) %>
          <%= f.text_field :programme_other, value: @form.programme_other, required: false, class: "govuk-input govuk-input--width-20 #{@form.errors&.any? ? 'govuk-input--error' : ''}" %>
        </div>
      <% else %>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="programme_other">
              Programme owning the account
            </label>
          </h1>
          <%= f.text_field(
            :programme_other,
            value: @form.programme_other,
            required: false,
            class: "govuk-input govuk-input--width-20 #{@form.errors&.any? ? 'govuk-input--error' : ''}"
          ) %>
        </div>
      <% end %>

      <%= f.submit 'Next', class: 'govuk-button', data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
