<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= account_details_path %>" class="govuk-back-link">Back</a>

    <%= form_for @form, url: programme_path, html: { novalidate: true } do |f| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Programme owning the account
          </h1>
        </legend>
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'GOV.UK', checked: @form.programme == 'GOV.UK', id: 'programme_govuk', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'GOV.UK', for: 'programme_govuk', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'GOV.UK Verify', checked: @form.programme == 'GOV.UK Verify', id: 'programme_verify', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'GOV.UK Verify', for: 'programme_verify', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Government as a Platform', checked: @form.programme == 'Government as a Platform', id: 'programme_gaap', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Government as a Platform', for: 'programme_gaap', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Digital Marketplace', checked: @form.programme == 'Digital Marketplace', id: 'programme_digital_marketplace', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Digital Marketplace', for: 'programme_digital_marketplace', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Technology and Operations', checked: @form.programme == 'Technology and Operations', id: 'programme_tech_ops', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Technology and Operations', for: 'programme_tech_ops', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Common Technology Services', checked: @form.programme == 'Common Technology Services', id: 'programme_cts', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Common Technology Services', for: 'programme_cts', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Data Science', checked: @form.programme == 'Data Science', id: 'programme_data', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Data Science', for: 'programme_data', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :programme, 'Other', checked: @form.programme == 'Other', id: 'programme_other', class: 'govuk-radios__input' %>
              <%= f.label :programme, 'Other', for: 'programme_other', class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        </div>
      </fieldset>
    
      
      <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.any? %>">
        <%= f.label :programme_other, 'Other (please specify)', class: 'govuk-label' %>
        <%= f.text_field :programme_other, value: @form.programme_other, required: false, class: 'govuk-input govuk-input--width-20' %>
      </div>
      <div class="govuk-form-group">
        <% @form.errors[:programme_or_other_specified].each do |err| %>
          <span class="govuk-error-message"><%= err %></span>
        <% end %>
      </div>
      <%= f.submit 'Next', class: 'govuk-button', data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
