<div class="grid-row">
  <div class="column-two-thirds">
    <a href="<%= index_path %>" class="link-back">Back</a>

    <h1 class="heading-large">Account details</h1>
    <%= form_for @form, url: account_details_path, html: { novalidate: true } do |f| %>
        <fieldset class="form-group <%= 'form-group-error' if @form.errors.include?(:account_name) %>">
          <%= f.label :account_name, 'Account name', class: 'form-label' %>
          <span class="form-hint">
            Account names should be descriptive and lower-case-separated-by-dashes.
            For example <nobr><code>gds-verify-production-a</code></nobr> or <nobr><code>govuk-integration</code></nobr>.
          </span>
          <%= f.text_field :account_name, value: @form.account_name, required: true, class: 'form-control' %>
          <% @form.errors[:account_name].each do |err| %>
              <span class="error-message"><%= 'Account name ' + err %></span>
          <% end %>
        </fieldset>
        <p></p>
        <fieldset class="inline form-group <%= 'form-group-error' if @form.errors.include?(:account_description) %>">
          <legend><p>Please describe your new account (e.g. what will it be used for? will it host production services?)</p></legend>

          <%= f.text_area :account_description, value: @form.account_description, required: true, rows: 6, class: 'form-control full-width' %>
          <% if @form.errors.include?(:account_description) %>
              <span class="error-message">Field <%= @form.errors[:account_description].first %></span>
          <% end %>
        </fieldset>
        <div>
          <%= f.submit 'Next', class: 'button' %>
        </div>
    <% end %>
  </div>
</div>
