<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Request an AWS account</h1>
    <%= form_for @form, url: account_details_path, html: { novalidate: true } do |f| %>
        <fieldset class="form-group <%= 'form-group-error' if @form.errors.include?(:account_name) %>">
          <%= f.label :account_name, t('account_name_label'), class: 'form-label' %>
          <%= f.text_field :account_name, required: true, class: 'form-control' %>
          <% if @form.errors.include?(:account_name) %>
              <span class="error-message"><%= t('account_name_label') + ' ' + @form.errors[:account_name].first %></span>
          <% end %>
        </fieldset>
        <fieldset class="inline form-group <%= 'form-group-error' if @form.errors.include?(:is_production) %>">
          <legend><p><%= t('is_production_label') %></p></legend>

          <div class="multiple-choice">
            <%= f.radio_button :is_production, '1', id: 'is_production_yes', required: true %>
            <%= f.label :is_production,  t('is_production_yes_label'), for: 'is_production_yes' %>
          </div>
          <div class="multiple-choice">
            <%= f.radio_button :is_production, '0', id: 'is_production_no', required: true %>
            <%= f.label :is_production, t('is_production_no_label'), for: 'is_production_no'  %>
          </div>
          <% if @form.errors.include?(:is_production) %>
              <span class="error-message"><%= 'Field ' + @form.errors[:is_production].first %></span>
          <% end %>
        </fieldset>
        <div>
          <%= f.submit t('submit_button_text'), class: 'button' %>
        </div>
    <% end %>
  </div>
</div>
