<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="<%= index_path %>" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Account details</h1>
    <%= form_for @form, url: account_details_path, html: { novalidate: true } do |f| %>
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.include?(:account_name) %>">
          <%= f.label :account_name, 'Account name', class: 'govuk-label' %>
          <span class="govuk-hint">
            Account names should be descriptive and lower-case-separated-by-dashes.
            For example <nobr><code>gds-verify-production-a</code></nobr> or <nobr><code>govuk-integration</code></nobr>.
          </span>
          <%= f.text_field :account_name, value: @form.account_name, required: true, class: 'govuk-input govuk-input--width-20' %>
          <% @form.errors[:account_name].each do |err| %>
              <span class="govuk-error-message"><%= 'Account name ' + err %></span>
          <% end %>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @form.errors.include?(:account_description) %>">
          <%= f.label :account_description, 'Please describe your new account (e.g. what will it be used for? will it host production services?)', class: 'govuk-label' %>
          <%= f.text_area :account_description, value: @form.account_description, required: true, rows: 6, class: 'govuk-textarea' %>
          <% if @form.errors.include?(:account_description) %>
              <span class="govuk-error-message">Field <%= @form.errors[:account_description].first %></span>
          <% end %>
        </div>
      </fieldset>
      <%= f.submit 'Next', class: 'govuk-button', data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
