<div class="grid-row">
  <div class="column-two-thirds">
    <a href="<%= index_path %>" class="link-back">Back</a>

    <h1 class="heading-large">Account details</h1>
    <%= form_for @form, url: account_details_path, html: { novalidate: true } do |f| %>
        <fieldset class="form-group <%= 'form-group-error' if @form.errors.include?(:account_name) %>">
          <%= f.label :account_name, t('account_name_label'), class: 'form-label' %>
          <%= f.text_field :account_name, value: @form.account_name, required: true, class: 'form-control' %>
          <% @form.errors[:account_name].each do |err| %>
              <span class="error-message"><%= t('account_name_label') + ' ' + err %></span>
          <% end %>
        </fieldset>
        <p></p>
        <fieldset class="inline form-group <%= 'form-group-error' if @form.errors.include?(:account_description) %>">
          <legend><p><%= t('account_description_label') %></p></legend>

          <%= f.text_area :account_description, value: @form.account_description, required: true, rows: 6, class: 'form-control full-width' %>
          <% if @form.errors.include?(:account_description) %>
              <span class="error-message"><%= t('account_description_label') + ' ' + @form.errors[:account_description].first %></span>
          <% end %>
        </fieldset>
        <div>
          <%= f.submit t('next_button_text'), class: 'button' %>
        </div>
    <% end %>
  </div>
</div>
