<% @omit_header = true %>
<% content_for :after_header do %>
<header role="banner" id="global-header" class="<%= yield(:header_class) %>">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-title">Reliability Engineering <strong class="phase-tag">Internal</strong></div>
    </div>
  </div>
</header>
<% end %>

<% content_for :page_title, 'Request an AWS account' %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
<% end %>

<% content_for :content do %>
    <main id="content">
      <%= yield %>
    </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>